 .header-bar 
        {
            height: 80px;              
            width: 100%;
            background-color:rgb(41, 69, 110);
            font-family: 'Segoe UI', sans-serif;
            font-size: 24px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }

        img.profile-pic {

            width: 250px;
            height: 250px;
            border-radius: 125px; 
            border: 5px solid #a287873e;  
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);    
            object-fit: cover;
            margin-bottom: 20px; 
        }
        img.Linkdein, img.instagram {
            position: relative;
            left: 120px;
            width: 40px;
            height: 40px;
            border-radius: 12.5px;       
            object-fit: cover;
            transition: transform 0.2s;
        }
        img.Linkdein:hover, img.instagram:hover {
            transform: scale(1.1);
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            max-width: 900px;
            margin: 40px auto;
            background: white;
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.05);
            position: relative; 
        }.text-area {
            font-family: Arial, sans-serif;
            max-width: 500px;         
            color: #333333;
            line-height: 1.6;     
            text-align: left;    
        }
        .interest-list {
            padding-left: 20px; 
            margin-bottom: 20px;
        }

        #social {
            position: absolute;
            display: flex;
            gap: 10px;
            left: 50px;
            top: 320px;
        }